.gradle
gradle
settings.gradle.kts
gradlew
gradlew.bat
gradle.properties
build/
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/!/src/test/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.iprout//out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cachebin//bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store